<h1>My Assignments</h1>
<ul>
    <li>
        <a href="/demo/new">Statistics B | 5...........3 days left</a>
    </li>
    <li>
        <a href="/demo/show">Econometrics | 4.....2 days left</a>
    </li>
    <li>
        <a href="/demo/index">Micro B | 5.................4 days left</a>
    </li>
</ul>
